<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1067541374716-a63eeh1507snsu3dcsn7cqpu83frl79r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067541374716-a63eeh1507snsu3dcsn7cqpu83frl79r</string>
	<key>API_KEY</key>
	<string>AIzaSyCx6rg6p1AS-rBZEfCy-aNGZYUPmbgZ4zI</string>
	<key>GCM_SENDER_ID</key>
	<string>1067541374716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.marionfanjaud.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c1c2e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c1c2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067541374716:ios:9ba369b6df4fac93</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c1c2e.firebaseio.com</string>
</dict>
</plist>